Encoder-Decoder-TabNet2/
HyperParameterOptimization/
FeatureGeneralization/
Encoder-Decoder-FullyDense/
BestModels-after-optimization/
Encoder-Decoder-1DCNN/
XGBoost/
Encoder-Decoder-1DLSTM/
input_data/images_log_NewData/
input_data/v3/data_management.py
input_data/v2/
input_data/images/
input_data/images_log/
input_data/images_NewData/
input_data/IQR_dataframe-cobalt.csv
input_data/IQR_dataframe.csv
input_data/NbCrVWZr_data_stoic_creep_equil_filtered_BCC_only.csv
input_data/nimplex_GF_5_20_nodes.npy
input_data/nimplex_GF_5_20_neighbors.npy
input_data/kde-plots.py
input_data/tc_df.csv
input_data/data_management.py
ModelsDataV3/AllModels/
VAE/
DNNF/
Encoder-Decoder-TabNet/
AutoEncoder-single-AllExceptCreep-NOT/
AutoEncoder-single-Kou/
AutoEncoder-single-Scheil/
AutoEncoder-single-AllExceptCreepScheilKou-NoIQR/
AutoEncoder-single-AllExceptCreepScheilKou/
AutoEncoder-single-Kou2/
ModelsDataV3/Paper-Performance-driven Design/past-results-not-used/
past-results-not-used
Encoder-Decoder-Progress.pptx
~$Encoder-Decoder-Progress.pptx
BIRDSHOT-HEADATA/Hyperparameter-optimization/R2_Optimization/
BIRDSHOT-HEADATA/bckup-DatasetandModel-v1/
